
  
  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100px * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100px * 7));
    }

    
  }
  .slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: fit-content;
    margin: auto;
    overflow: hidden;
    /* position: relative; */
    width: 100%;
    /* margin-top: 2rem !important; */
    padding: 0.5rem;
    color: #151515 !important;
    z-index: 21;
  }
  .slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: fit-content;
    position: absolute;
    width: 20px;
    
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
            animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 13);
  }
  .slider .slide {
    height: fit-content;
    width: 300px;
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .slider .slide div{
    gap: 0.5rem;
  }

 
  /* @media (min-width: 768px) {
    .slider {
        color: #151515 !important;
        max-width: 700px !important;
      }
  } */



  @media (max-width: 767px) {
    .slider .slide {
        width: 220px !important;
      }
  } 



  .spinner {
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 2px solid #3498db;
    width: 15px;
    height: 15px;
    animation: spin 1s linear infinite;
    margin-right: 8px; /* Adjust the margin as needed */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .spinner2 {
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 20px;
    height: 20px;
    animation: spin2 1s linear infinite;
    margin-right: 8px; /* Adjust the margin as needed */
  }
  .spinner3 {
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 20px;
    height: 20px;
    animation: spin2 1s linear infinite;
    margin-left: 1rem; /* Adjust the margin as needed */
  }
  
  @keyframes spin2 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }