
  
  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100px * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100px * 7));
    }
  }
  .slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: fit-content;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-top: 2rem !important;
    padding: 0.5rem;
    color: #151515 !important;
  }
  .slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: fit-content;
    position: absolute;
    width: 20px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
            animation: scroll 40s linear infinite;
    display: flex;
    width: calc(150px * 13);
  }
  .slider .slide {
    height: fit-content;
    width: 250px;
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .slider .slide div{
    gap: 0.5rem;
  }

 
  /* @media (min-width: 768px) {
    .slider {
        color: #151515 !important;
        max-width: 700px !important;
      }
  }
  @media (max-width: 767px) {
    .slider {
        color: #151515 !important;
        max-width: 350px !important;
      }
  } */